<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Cliente</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th class="col-1">#</th>
            <th class="col-7">Nome</th>
            <th class="col-4">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.name }}</td>
            <td>{{ cliente.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
